# Chiral solutions for Type-II Dirac seesaw with a Dark Symmetry

In [ ]:
import pandas as pd
import numpy as np
import itertools

### Load full solutions

In [ ]:
ds=pd.read_json('https://github.com/restrepo/anomaly/raw/main/solutions.json.gz')
ds.shape

(390074, 5)

Number of solutions with repeated charges: $(\nu,\nu,\cdots)$

In [ ]:
dsp=ds[ds['solution'].apply(lambda l: len(l)-len(set(l))>0)].reset_index(drop=True)
dsp.shape

(280959, 5)

Some reordering

In [ ]:
dsp['nmax']=dsp['solution'].apply(lambda l: map(abs,l)).apply(max)
dsp=dsp.sort_values(['n','nmax']).reset_index(drop=True)
#Show the first and last one solutions
dsp.iloc[[0,-1]]

                         l                  k  ...   n  nmax
0                 [-1, -2]            [-1, 2]  ...   6     5
280958  [-1, -2, 3, -3, 2]  [-1, 3, 2, 0, -2]  ...  12    32

[2 rows x 6 columns]

## 1. Check phenomenological conditions
$$ \nu+s=0$$

In [ ]:
def conditions(l):
    #Fix first set of repeated integers as ðœˆ
    Î½s=list(set([x for x in l if l.count(x)>=2 ]))
    Î½=Î½s[0]
    #implement the phenomenological condition:
    s=-Î½
    #Remove neutrinos from list, `l` and get extra quiral fermions
    Ïˆs=[x for x in l if x!=Î½]
    if len(Ïˆs)<=2:
        ms=Ïˆs
    else:
        ms=list(set([x for x in itertools.permutations(Ïˆs,2) if x[0]<=x[1] ]))
    xs=[ x for x in ms if abs(x[0]+x[1])==abs(s) ]
    #flatten
    massive=[x for sublist in xs for x in sublist]

    return list( set(Ïˆs).difference(set(massive)) )

In [ ]:
dsp['massless']=dsp['solution'].apply(conditions)

In [ ]:
sltns=dsp[dsp['massless'].apply(len)<=2].reset_index(drop=True)

In [ ]:
sltns.shape

(12584, 7)

In [ ]:
sltns[:2]

          l        k               solution  gcd  n  nmax massless
0  [-1, -2]  [-1, 2]   [1, 1, 1, -4, -4, 5]    1  6     5       []
1   [-1, 1]  [-2, 0]  [1, -2, -3, 5, 5, -6]    1  6     6       []